@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* custom */
*, *:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

button, input, textarea, select { appearance: none; -moz-appearance: none; -webkit-appearance: none; font-family: inherit; font-size: inherit; border: none; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; }

.wrapper { max-width: 1250px; padding-left: 40px; padding-right: 40px; margin: 0 auto; }
.wrapper-no-gutter { padding-left: 0; padding-right: 0; }
@media only screen and (min-width: 768px) { .wrapper { padding-right: 35px; padding-left: 35px; } }
@media only screen and (min-width: 1400px) { .wrapper { padding-right: 75px; padding-left: 75px; max-width: 1750px; } }
@media only screen and (min-width: 1920px) { .wrapper { padding-right: 100px; padding-left: 100px; max-width: 1920px; } }

.cf:before, .wrapper:before, .cf:after, .wrapper:after { content: ""; display: block; }

.cf:after, .wrapper:after { clear: both; }

.cf, .wrapper { zoom: 1; }

.text-font-serif, h1, blockquote, .content-normalize h2, .content-normalize .h2 { font-family: "Tinos", serif; }
.text-font-sans { font-family: "Libre Franklin", sans-serif; }
.text-font-acc, .home section.small-heading h2 { font-family: "Teko", sans-serif; letter-spacing: .25em; margin-left: .25em; }
.text-lead { font-size: 1.875em; }
.text-tiny { font-size: 0.75em; }
.text-bold, .content-normalize h3, .content-normalize .h3, .content-normalize h4, .content-normalize .h4 { font-weight: 800; }
.text-lighter { font-weight: lighter; }
.text-uppercase, .home section.small-heading h2 { text-transform: uppercase; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }
.text-gold, .content-normalize h2, .content-normalize .h2 { color: #cca882; }
.text-blue, .content-normalize h3, .content-normalize .h3 { color: #769db8; }
.text-blue-dark { color: #212c42; }
.text-wt { color: #fff; }
.text-hidden, .video-button, .arrow-button { text-indent: -99999em; overflow: hidden; color: transparent; display: inline-block; }

.video-button { overflow: visible; background: #769db8; width: 1em; -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); height: 1em; font-size: 3.375em; position: relative; -webkit-transform-origin: center center; transform-origin: center center; -webkit-transform: rotate(45deg); transform: rotate(45deg); margin-bottom: .75em; }
.video-button:before { content: ""; display: block; position: absolute; margin: auto; top: -1em; bottom: -1em; border: .125em solid transparent; -webkit-box-shadow: 0 0 0 1px #cca882, inset 0 0 0 1px #cca882; box-shadow: 0 0 0 1px #cca882, inset 0 0 0 1px #cca882; right: -1em; left: -1em; width: 1.5625em; height: 1.5625em; }
.video-button:after { display: block; content: ""; border: 0.0625em solid #fff; border-left: .0625em solid transparent; border-bottom: .0625em solid transparent; width: 0; height: 0; position: absolute; top: .03125em; bottom: 0; left: 0; right: .03125em; margin: auto; }
.video-button:hover { background: #4d7795; }
@media only screen and (min-width: 1920px) { .video-button { font-size: 4.5625em; } }
.video-wrapper { overflow: hidden; padding-bottom: 56.25%; height: 0; position: relative; }
.video-wrapper iframe { position: absolute; top: 0 !important; bottom: 0 !important; left: 0 !important; right: 0 !important; width: 100% !important; height: 100% !important; }

body { min-width: 320px; font-family: "Libre Franklin", sans-serif; }

h1, h2, h3, h4, h5, h6 { margin-bottom: .25em; }

h2, h3, h4, h5, h6 { line-height: 2; }

h1 { line-height: 1; font-size: 4.8125em; }

h2 { font-size: 2.25em; line-height: 1.375; }

h3 { font-size: 1.25em; line-height: 1.625; }

h4 { font-size: 1.0625em; line-height: 2; }

h5 { font-size: 1em; }

h6 { font-size: .875em; }

ul { padding-left: 1.5625em; }
ul li:before { color: #769db8; content: "•"; display: inline-block; width: 1.5625em; margin-left: -1.5625em; }

img { max-width: 100%; height: auto; }

a { color: #cca882; }
a:hover, a:focus { color: #e2ceb8; }

blockquote { padding-left: 40px; margin: 50px 0 50px; position: relative; font-size: 1.875em; line-height: 1.25; }
blockquote:before, blockquote:after { content: ""; display: block; position: absolute; width: 2px; top: .25em; bottom: .25em; background: #cca882; }
blockquote:before { left: 10px; }
blockquote:after { left: 0; }

p, ul { margin: 5px 0 25px; font-size: 1em; line-height: 2.25; }

.lead { font-size: 1.125em; font-weight: 200; color: rgba(0, 0, 0, 0.7); }

@media only screen and (max-width: 767px) { h1 { font-size: 3.75em; }
  h2 { font-size: 2em; } }
@media only screen and (min-width: 768px) { h1 { font-size: 6.125em; }
  h2 { font-size: 2.375em; }
  h3 { font-size: 1.375em; }
  blockquote { font-size: 2.8125em; }
  h4, p, ul { font-size: 1.0625em; }
  .lead { font-size: 1.25em; } }
@media only screen and (min-width: 1400px) { h1 { font-size: 8.25em; }
  h3 { font-size: 1.375em; }
  blockquote { font-size: 3.125em; }
  h4, p, ul { font-size: 1.125em; }
  .lead { font-size: 1.5em; } }
@media only screen and (min-width: 1920px) { h1 { font-size: 10.625em; }
  h2 { font-size: 2.625em; }
  blockquote { font-size: 3.75em; }
  .lead { font-size: 1.875em; } }
.btn { font-size: 1.25em; display: inline-block; text-align: center; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; background-image: none; font-family: "Tinos", serif; border: 0; white-space: nowrap; text-decoration: none; padding: 1.5em 4em; line-height: 1; border-radius: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; position: relative; margin-bottom: .5em; }
.btn:before, .btn:after { content: ""; display: block; height: 1px; position: absolute; top: 0; bottom: 0; margin: auto; width: .875em; background: #212c42; }
.btn:before { left: 2em; -webkit-box-shadow: -6px 0 0 0 #212c42, 0 -4px 0 0 #212c42, 0 4px 0 0 #212c42; box-shadow: -6px 0 0 0 #212c42, 0 -4px 0 0 #212c42, 0 4px 0 0 #212c42; }
.btn:after { right: 2em; -webkit-box-shadow: 6px 0 0 0 #212c42, 0 -4px 0 0 #212c42, 0 4px 0 0 #212c42; box-shadow: 6px 0 0 0 #212c42, 0 -4px 0 0 #212c42, 0 4px 0 0 #212c42; }
.btn-blue { background: #769db8; color: #FFF; }
.btn-blue:hover, .btn-blue:focus { background: #4d7795; }
.btn-mobile, .btn-desktop { display: none; }
@media only screen and (max-width: 767px) { .btn { font-size: .9375em; padding: 1.5em 2.5em; }
  .btn:before { left: 1em; }
  .btn:after { right: 1em; }
  .btn-mobile { display: inline-block; } }
@media only screen and (min-width: 1400px) { .btn-desktop { display: inline-block; } }

hr { width: 100px; height: .75em; border: 0; outline: 0; border-top: 1px solid #cca882; border-bottom: 1px solid #cca882; margin: 25px auto 50px; }

.arrow-button { position: relative; background: transparent; outline: 0; width: 1em; height: 1em; padding: .25em; -webkit-transform-origin: center center; transform-origin: center center; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); border: 2px solid #cca882; font-size: 1.375em; }
.arrow-button:before { position: absolute; content: ""; display: block; width: .5em; height: .5em; border: 2px solid #cca882; }
.arrow-button.left, .arrow-button.left:before { border-bottom: 0; border-right: 0; }
.arrow-button.left:before { right: 0; bottom: 0; }
.arrow-button.right, .arrow-button.right:before { border-top: 0; border-left: 0; }
.arrow-button.right:before { left: 0; top: 0; }
.arrow-button.down, .arrow-button.down:before { border-top: 0; border-right: 0; }
.arrow-button.down:before { right: 0; top: 0; }

.owl-carousel { margin-top: 50px; padding: 0 90px; margin-left: auto; margin-right: auto; position: relative; }
.owl-carousel.owl-carousel-static { position: static; }
.owl-nav { left: 0; right: 0; margin: auto; }
.owl-nav > button { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); border: 1px solid #cca882 !important; width: 60px; height: 95px; }
.owl-nav > button.owl-prev { left: 0; right: auto; }
.owl-carousel-static .owl-nav > button.owl-prev { left: 50px; }
.owl-nav > button.owl-next { right: 0; left: auto; }
.owl-carousel-static .owl-nav > button.owl-next { right: 50px; }
.owl-nav > button:hover, .owl-nav > button:focus { background: #dad6cb !important; }
.owl-nav > button .arrow-button { position: absolute; top: 0; bottom: 0; right: 0; lefT: 0; margin: auto; }
.owl-dots { margin-top: 25px; }
.owl-dot span { background: #dad6cb; height: 3px; width: 2.5em; display: inline-block; margin-left: .375em; margin-left: .375em; }
.owl-dot.active span { background: #769db8; }

header { position: relative; }
header:before { content: ""; display: block; position: absolute; top: 0; bottom: 50%; left: 0; right: 0; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0))); background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */ }
header nav { min-width: 320px; position: absolute; z-index: 99999; top: 0; left: 0; right: 0; }
header nav, header nav > * { height: 90px; line-height: 90px; }
header nav .phone, header nav .menu { float: right; }
header nav .logo { float: left; display: block; width: 50%; max-width: 324px; background-image: url(../img/logo.svg); background-repeat: no-repeat; background-position: center center; background-size: 100% auto; }
header nav .phone { padding: 0 1em; text-decoration: none; text-align: right; margin-right: .5em; }
header nav .phone .ico-phone { display: none; }
header nav .phone span { color: #fff; display: none; margin-right: 1.25em; }
header nav .phone p { display: inline; margin: 0; font-size: 2.125em; vertical-align: sub; }
header nav .menu { position: relative; }
header nav .menu-toggle { display: block; position: relative; z-index: 99999; height: 100%; text-align: center; text-decoration: none; }
header nav .menu-toggle .burger { position: absolute; height: 1.5em; width: 2.5em; display: block; top: 0; bottom: 0; right: 1.5em; margin: auto; }
header nav .menu-toggle .burger span { display: block; height: .125em; position: absolute; top: 0; bottom: 0; margin: auto; right: 0; left: 0; width: 100%; z-index: 0; background: #cca882; -webkit-transform-origin: center center; transform-origin: center center; transition: all .125s ease-in-out; -moz-transition: all .125s ease-in-out; -o-transition: all .125s ease-in-out; -webkit-transition: all .125s ease-in-out; }
header nav .menu-toggle .burger span:first-child { top: 0%; bottom: auto; }
header nav .menu-toggle .burger span:last-child { bottom: 0%; top: auto; }
header nav .menu-toggle .burger span:before, header nav .menu-toggle .burger span:after { content: ""; position: absolute; width: 0%; background: #e2ceb8; top: 0; bottom: 0; z-index: -1; height: 100%; transition: .25s all ease-in-out; -moz-transition: .25s all ease-in-out; -o-transition: .25s all ease-in-out; -webkit-transition: .25s all ease-in-out; }
header nav .menu-toggle .burger span:before { left: 0; right: auto; }
header nav .menu-toggle .burger span:after { right: 0; left: auto; }
header nav .menu-toggle > span { color: #fff; padding: 0 5em 0 1.5em; }
header nav .menu-toggle:hover, header nav .menu-toggle:focus, header nav .menu-toggle.active { background: #212c42; }
header nav .menu-toggle.active .burger span:nth-child(2) { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
header nav .menu-toggle.active .burger span:nth-child(3) { -webkit-transform: rotate(45deg); transform: rotate(45deg); }
header nav .menu-toggle.active .burger span:first-child, header nav .menu-toggle.active .burger span:last-child { width: 0%; top: 45%; bottom: 45%; }
header nav #fancy-menu { position: absolute; min-width: 300px; right: 0; top: 90px; height: 0; opacity: 0; overflow: hidden; z-index: 99999; background: #212c42; -webkit-transition: .1s ease-in all; transition: .1s ease-in all; }
header nav #fancy-menu.active { opacity: 1; height: auto; }
header nav #fancy-menu ul { padding: 0; }
header nav #fancy-menu ul li:before { content: none; }
header nav #fancy-menu ul li a { text-decoration: none; -webkit-transition: .1s ease-in all; transition: .1s ease-in all; }
header nav #fancy-menu ul.global { margin-bottom: 1em; }
header nav #fancy-menu ul.global li:before { content: none; }
header nav #fancy-menu ul.global li a { padding: 1.5em; display: inline-block; text-decoration: none; line-height: 1; font-size: 1.25em; color: #dad6cb; -webkit-transition: .1s ease-in all; transition: .1s ease-in all; position: relative; }
header nav #fancy-menu ul.global li a:before { content: ""; display: block; height: 2px; width: 0; position: absolute; bottom: 1em; background: #fff; left: 0; right: 0; margin: auto; -webkit-transition: .1s ease-in all; transition: .1s ease-in all; }
header nav #fancy-menu ul.global li a:hover, header nav #fancy-menu ul.global li a:focus { color: #769db8; }
header nav #fancy-menu ul.global li a:hover:before, header nav #fancy-menu ul.global li a:focus:before { width: 50px; }
header nav #fancy-menu ul.social { padding: 1.5em 0; }
header nav #fancy-menu ul.social li { display: inline; }
header nav #fancy-menu ul.social li a { padding: 1.5em; }
header nav #fancy-menu ul.social li a svg { fill: #dad6cb; }
header nav #fancy-menu ul.social li a:hover svg, header nav #fancy-menu ul.social li a:focus svg { fill: #769db8; }
@media only screen and (min-width: 1400px) { header nav .phone span { display: inline; }
  header nav .phone p { font-size: 1.875em; } }
@media only screen and (max-width: 767px) { header nav { position: relative; background: #212c42; }
  header nav, header nav > * { height: 67px; line-height: 67px; }
  header nav .phone, header nav .menu { width: 17%; text-align: center; }
  header nav .logo { background-image: url(../img/logo-xs.svg); background-size: 90% auto; width: 66%; }
  header nav .phone { text-align: center; background: #769db8; position: relative; margin: 0; }
  header nav .phone:hover { background: #4d7795; }
  header nav .phone span, header nav .phone p { display: none; }
  header nav .phone .ico-phone { margin: auto; stroke: #fff; display: block; height: 2.25em; width: 1.5em; border: 2px solid #fff; position: absolute; top: 50%; left: 0; right: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
  header nav .phone .ico-phone:before, header nav .phone .ico-phone:after { content: ""; display: block; position: absolute; left: 0; right: 0; }
  header nav .phone .ico-phone:before { border-top: 2px solid #fff; bottom: .4735em; }
  header nav .phone .ico-phone:after { border: 1px solid #fff; width: 0; height: 0; margin: 0 auto; bottom: .1875em; }
  header nav .menu-toggle { text-align: center; color: #212c42; position: relative; background: #fff; }
  header nav .menu-toggle .burger { width: 2.25em; height: 1.25em; top: .875em; left: 0; right: 0; bottom: auto; }
  header nav .menu-toggle .burger span { background: #212c42; }
  header nav .menu-toggle > span { right: 0; left: 0; top: auto; line-height: 1; bottom: .625em; font-size: 1em; position: absolute; line-height: 1; height: 1em; color: #212c42; padding: 0; }
  header nav .menu-toggle:hover, header nav .menu-toggle:focus, header nav .menu-toggle.active { background: #dad6cb; }
  header nav #fancy-menu { top: 67px; width: 100vw; } }
header .hero-section { background-size: 100% auto; background-repeat: no-repeat; padding: 140px 0 100px; }
header .hero-section .arrow-button.down { display: block; margin: 50px auto; }
header .hero-section h1 { margin-bottom: .125em; }
header .hero-section > section { position: relative; }
@media only screen and (max-width: 767px) { header .hero-section { padding-top: 117px; } }
@media only screen and (max-width: 1399px) { header .hero-section .arrow-button.down { display: none; } }

.home .hero-section { color: #fff; background-image: url(../img/header_img_mobile.jpg); background-color: #02060d; }
.home .hero-section .pointers { margin-bottom: 50px; }
.home .hero-section .pointers h3 { font-size: 2em; margin: 0; }
.home .hero-section .pointers h3 + p { color: #cca882; margin: 0; letter-spacing: .125em; font-size: .75em; }
@media only screen and (max-width: 1919px) { .home .hero-section .pointers { padding: 0; } }
@media only screen and (min-width: 414px) { .home .hero-section { background-image: url(../img/header_img_tablet.jpg); } }
@media only screen and (min-width: 768px) { .home .hero-section { background-image: url(../img/header_img_laptop.jpg); }
  .home .hero-section h1 { margin-bottom: 25px; }
  .home .hero-section .pointers h3 { font-size: 2.1875em; }
  .home .hero-section .pointers h3 + p { font-size: .875em; } }
@media only screen and (min-width: 1400px) { .home .hero-section { background-image: url(../img/header_img_desktop.jpg); }
  .home .hero-section .pointers h3 { font-size: 2.375em; }
  .home .hero-section .pointers h3 + p { font-size: 1em; }
  .home .hero-section .pointers .owl-item { padding: 0 4.5px; }
  .home .hero-section .pointers .owl-item.active .pointers-slide { border-left: 1px solid #cca882; border-right: 1px solid #cca882; }
  .home .hero-section .pointers .owl-item.active:first-of-type .pointers-slide { border-left: 0; }
  .home .hero-section .pointers .owl-item.active.active + .active + .active .pointers-slide { border-right: 0; } }
@media only screen and (min-width: 1920px) { .home .hero-section .pointers h3 { font-size: 2.75em; }
  .home .hero-section .pointers h3 + p { font-size: 1.125em; } }
.home .section-wrap { padding-top: 43px; padding-bottom: 43px; }
@media only screen and (min-width: 768px) { .home .section-wrap { padding-top: 57px; padding-bottom: 57px; } }
@media only screen and (min-width: 1400px) { .home .section-wrap { padding-top: 62.5px; padding-bottom: 62.5px; } }
@media only screen and (min-width: 1920px) { .home .section-wrap { padding-top: 100px; padding-bottom: 100px; } }
.home section { position: relative; }
.home section.small-heading h2 { color: #212c42; line-height: 1; font-size: 1.125em; border-bottom: 1px solid #cca882; padding-bottom: .5em; display: inline-block; }
.home .section-1 { position: relative; margin-top: -75px; padding-top: 0; }
.home .section-1 section { background: #fff; padding: 50px 0; -webkit-box-shadow: 0 0.75em 6em 0.25em rgba(33, 44, 66, 0.63); box-shadow: 0 0.75em 6em 0.25em rgba(33, 44, 66, 0.63); }
.home .section-1 .stats-slide { padding: 0 10px; }
.home .section-1 .stats-slide h3 { font-size: 2.5em; margin-bottom: .375em; }
@media only screen and (max-width: 1399px) { .home .section-1 .stats { margin-top: 0; padding: 50px 25px; }
  .home .section-1 .stats-slide { padding-top: 0; } }
@media only screen and (min-width: 768px) { .home .section-1 section { padding: 75px 50px; }
  .home .section-1 .stats-slide figcaption { max-width: 400px; margin: 0 auto; }
  .home .section-1 .stats-slide figcaption > * { font-size: 1.0625em; } }
@media only screen and (min-width: 1400px) { .home .section-1 .stats-slide h3 { font-size: 3.75em; } }
@media only screen and (min-width: 1920px) { .home .section-1 .stats-slide h3 { font-size: 4.625em; }
  .home .section-1 .stats-slide figcaption { max-width: 75%; } }
.home .section-2 .lead-content { width: 95%; max-width: 1060px; }
.home .section-2 .lead-content .location { letter-spacing: .125em; margin-bottom: 1em; }
@media only screen and (min-width: 1920px) { .home .section-2 .lead-content { max-width: 1100px; } }
@media only screen and (max-width: 1399px) { .home .section-2 .main-content img { display: none; } }
@media only screen and (min-width: 1400px) { .home .section-2 .main-content .col-right, .home .section-2 .main-content .col-left { float: right; width: 50%; }
  .home .section-2 .main-content .col-left { margin-top: 15px; padding-right: 30px; }
  .home .section-2 .main-content .col-left figcaption { padding: 124px 60px; }
  .home .section-2 .main-content .col-right { padding-left: 30px; } }
@media only screen and (min-width: 1400px) { .home .section-2 .main-content .col-right blockquote { margin: 175px 0 0; } }
.home #popup { min-width: 320px; position: fixed; top: 0; bottom: 0; left: 0; right: 0; margin: 0; display: none; z-index: 99999; overflow: hidden; }
.home #popup .popup-overlay { position: absolute; top: 0; bottom: 0; right: 0; left: 0; background: rgba(33, 44, 66, 0.5); }
.home #popup .popup-container { max-width: 1200px; width: 80%; margin: auto; position: absolute; left: 0; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.home #popup .popup-content { padding: .5em; background: #fff; -webkit-box-shadow: 25px 25px 0 0 #212c42, 0 0.75em 6em 0.25em rgba(33, 44, 66, 0.63); box-shadow: 25px 25px 0 0 #212c42, 0 0.75em 6em 0.25em rgba(33, 44, 66, 0.63); }
.home #popup .popup-content .popup-close { font-size: 4em; width: 1em; height: 1em; z-index: 99999; position: absolute; top: -.5em; right: -.5em; cursor: pointer; -webkit-transform-origin: center center; transform-origin: center center; -webkit-transform: rotate(45deg); transform: rotate(45deg); background: #cca882; }
.home #popup .popup-content .popup-close:hover, .home #popup .popup-content .popup-close:focus { background: #e2ceb8; }
.home #popup .popup-content .popup-close:before, .home #popup .popup-content .popup-close:after { width: .5em; height: 2px; content: ""; display: block; position: absolute; top: 0; bottom: 0; right: 0; background: #212c42; left: 0; margin: auto; }
.home #popup .popup-content .popup-close:after { -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }

/*# sourceMappingURL=style.css.map */